<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/amazeui.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header class="am-topbar am-topbar-inverse">
    <h1 class="am-topbar-brand">
        <a href="#">Date</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="am-active"><a href="/">Home</a></li>
            <li><a href="#">项目</a></li>

        </ul>

        <form class="am-topbar-form am-topbar-left am-form-inline" role="search">
            <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="search">
            </div>
        </form>
        <% if( !locals.user ){%>
        <div class="am-topbar-right">
            <a href="/reg" class="am-btn am-btn-primary am-topbar-btn am-btn-sm">reg</a>
        </div>
        <div class="am-topbar-right">
            <a href="/login" class="am-btn am-btn-primary am-topbar-btn am-btn-sm">login</a>
        </div>
        <% }else{ %>
        <div class="am-topbar-right">
            <a href="/logout" class="am-btn am-btn-primary am-topbar-btn am-btn-sm">logout</a>
        </div>
        <div class="am-topbar-right">
            <a href="#" class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><%= user.name %></a>
        </div>
        <% } %>
    </div>
</header>
<div class="container">
    <%- body %>
</div>
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/amazeui.min.js"></script>
</body>
</html>