<div style="width: 300px;margin: 0 auto;padding-top: 50px; ">
    <form class="am-form" method="post" >
        <fieldset >
            <div class="am-form-group">
                <label for="doc-ds-ipt-1">username</label>
                <input type="text" id="doc-ds-ipt-1" class="am-form-field" placeholder="username" name="username">
            </div>
            <div class="am-form-group">
                <label for="doc-ds-ipt-1">password</label>
                <input type="password" id="doc-ds-ipt-1" class="am-form-field" placeholder="password" name="password">
            </div>

            <div class="am-form-group">
                <label for="doc-ds-ipt-1">Again password</label>
                <input type="password" id="doc-ds-ipt-1" class="am-form-field" placeholder="Again password" name="password1">
            </div>
            <div>
                <span class="err">
                    <% if(passwordError){%>
                        <%= passwordError%>
                    <% } %>
                </span>
            </div>

            <button type="submit" class="am-btn am-btn-primary">reg</button>
        </fieldset>
    </form>
</div>
