 <div class="main">
     <% if(!locals.user){ %>
    <h1>欢迎来到极乐世界</h1>
    <p>这是一个机遇node js的微博系统</p>
    <p>

    <a class="btn btn-primary btn-large" href="/login">登录</a>
    <a class="btn  btn-large" href="/reg">立即注册</a>
    </p>
     <% }else{ %>
     <%- include('say')%>
     <% } %>
     <%- include('posts')%>
  </div>
